.header {
    height: 80px;
    font-family: 'Roboto',arial,sans-serif;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    .container {
        height: 100%;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;        
        .navbar-inverse {
            height: 100%;
            background-image: none;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navbar-header {
                width: 100%;
                .navbar-toggle {
                    margin-top: 22px;
                    border-color: #f7c552;
                    background-color: #f7c552;
                    position: relative;
                    float: right;
                    padding: 9px 10px;
                    margin-top: 8px;
                    margin-right: 15px;
                    margin-bottom: 8px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    .sr-only {
                        position: absolute;
                        clip: rect(0,0,0,0);
                    }
                    .icon-bar {
                        display: block;
                        background-color: #fff;
                        width: 22px;
                        height: 2px;
                        border-radius: 1px;
                        margin-top: 4px;
                        
                    }
                    :first-child {
                        margin-top: 0;
                    }  
                }             
                
                .navbar-brand {
                    font-weight: 800;
                    font-size: 25px;
                    font-family: 'Open Sans', sans-serif;
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                    cursor: pointer;
                    span {
                        font-style: normal;
                        color: #f7c552;
                        font-size: 32px;
                    }
                }
                .navbar-brand__scroll-effect {
                    color: #333;
                }
            }
            .navbar-collapse {   
                .navbar-nav {
                    float: right;
                    list-style-type: none;
                    li {
                        display: block;
                        margin-left: 45px;
                        transition: 0.3s;
                        line-height: 1.42857143;
                        text-transform: uppercase;
                        color: rgb(112, 75, 75);
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            letter-spacing: 0.5px;
                            font-weight: 300;                           
                            color: #ffff;
                            cursor: pointer;
                        }  
                    }
                }
            }
        }
        
    }
    
}

.header__scroll-effect{
    background-color: rgba(250,250,250,0.98);
    transition: 0.5s;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.navbar-brand__scroll-effect{
    color: #333;
    transition: 0.5s;
}
.a__scroll-effect {
    color: #121212!important;
    transition: 0.5s;
}

.baner-content {
    background-position: center calc(50% + 0px);
}
    
.parallax-content {
    width: 100%;
    padding-top: 35vh;
    text-align: center;
    background-image: url(../images/banner_bg.jpg);
    vertical-align: middle;
    min-height: 100vh;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    .container {
        padding: 0 15px;
        margin: 0 auto;
        .text-content {
            h2 {
                font-size: 36px;
                font-weight: 400;
                color: #fff;
                margin-top: 20px;
                margin-bottom: 10px;
                em {
                    font-style: normal;
                    font-weight: 700;
                    color: #f89624;
                }
                span {
                    font-weight: 700;
                    color: #33c1cf!important;
                }
            }                
            p {
                color: #fff;
                font-size: 14px;
                line-height: 24px;
                padding: 0 25%;
                margin: 0 0 10px;
            }
            .primary-white-button {
                cursor: pointer;
                margin-top: 25px;
                a {
                    display: inline-block;
                    background-color: #fff;
                    font-size: 13px;
                    padding: 12px 18px;
                    color: #121212;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    text-decoration: none;
                    border-radius: 20px;                    
                }
                :hover {
                    background-color: #f89624;  
                    transition: 0.3s;  
                }
            }
        }        
    }       
}

@media (max-width: 768px) {
    .header {       
        .container {        
                .navbar-collapse {  
                    .navbar-nav {
                        width: 100%;
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%,0);
                        border-bottom: #f7f7ff; 
                        z-index: 999;
                        background-color: #f7f7f7 !important;
                        opacity: 95%;
                        height: 350%!important;       
                        overflow: hidden;
                        transition: 0.3s;
                        li {
                            text-align: center;
                            margin: 0!important;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            a {
                                margin: 0 auto;
                                font-family: 'Roboto',sans-serif!important;
                                line-height: 55px;
                                color: #343434!important;
                            }   
                        }
                    }
                    .unactived-menu {
                        height: 0%!important;
                        transition: 0.3s;
                    }
                }
            }           
    }   
}
 
@media (min-width: 769px) {
    .header {
        .container {
            width: 750px;
            .navbar-inverse {
                .navbar-header {
                    width: auto;
                    .navbar-toggle {
                        display: none;
                    }
                    .navbar-brand {
                        padding-left: 0;
                    }
                }
                .navbar-collapse {  
                    .navbar-nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .parallax-content {
        .container {
            width: 750px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        .container {
            width: 970px;
            .navbar-inverse {
                .navbar-header {
                    .navbar-brand {
                        padding-left: 0;
                    }
                }
                .navbar-collapse {  
                    .navbar-nav {
                        float: right;
                    }
                }
            }
        }
    }
    .parallax-content {
        .container {
            width: 970px;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        .container {
            width: 1170px;
            .navbar-inverse {
                .navbar-header {
                    .navbar-brand {
                        padding-left: 0;
                    }
                }
                .navbar-collapse {  
                    .navbar-nav {
                        float: right;
                    }
                }
            }
        }
    }
    .parallax-content {
        .container {
            width: 1170px;
        }
    }
}

@media (max-width: 991px) {
    .parallax-content {
        .container {
            p {
                padding: 0 15% !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .parallax-content {
        .container {
            p {
                padding: 0 10% !important;
            }
        }
    }
}