* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open sans", Arial, sans-serif;
}

body {
  font-size: 1.6rem;
}

// Menu
@import "./menu.scss";

// About Us
@import "./aboutUs.scss";

// Portfolio
@import "./portfolio.scss";

// Feedback
@import "./feedback.scss";

// Blog
@import "./blog.scss";

// Contact us
@import "./contactUs.scss";
