section#about.page-section
    .container
        .row
            .col
                .service-item
                    .icon
                        img(src="./images/service_icon_01.png", alt="website template image")
                    h4 Smart Notifications
                    .line-dec
                    p Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.
                    .primary-blue-button
                        a.scroll-link(data-id="portfolio") Continue Reading
            .col
                .service-item
                    .icon
                        img(src="./images/service_icon_02.png", alt="website template image")
                    h4 Lovely Web Design
                    .line-dec
                    p Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros dignissim consectetur. Duis mollis.
                    .primary-blue-button
                        a.scroll-link(data-id="portfolio") Continue Reading
            .col
                .service-item
                    .icon
                        img(src="./images/service_icon_03.png", alt="website template image")
                    h4 Quick Support
                    .line-dec
                    p Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor mi quis rhoncus convallis.
                    .primary-blue-button
                        a.scroll-link(data-id="portfolio") Continue Reading
            .col
                .service-item
                    .icon
                        img(src="./images/service_icon_04.png", alt="website template image")
                    h4 One-Click Setup
                    .line-dec
                    p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent viverra, nunc et mollis fermentum.
                    .primary-blue-button
                        a.scroll-link(data-id="portfolio") Continue Reading
                        