.container__blog#blog
    .container__blog__content
        .blog-section 
            .section-heading
                .section-heading__title 
                    h4 our blog posts
                    div.line-dec 
                    p Nam vulputate elementum nulla, sit amet congue ipsum malesuada pretium. Vivamus vel gravida quam.
                .section-heading__filter                   
                    ul.filter-list 
                        btn(class='filter-list__item navtab-blog actived-blog-btn' id='1') Nulla Eget Convallis Augue 
                        btn(class='filter-list__item navtab-blog' id='2') Quisque Ultricies Maximus 
                        btn(class='filter-list__item navtab-blog' id='3') Sed Vel Elit Et Lorem 
                        btn(class='filter-list__item navtab-blog' id='4') Vivamus Purus Neque
        .blog-gallery
            .blog-content(data-content="1" class="actived-blog-content")
                .blog-content__image 
                    img(src="./images/blog_item_01.jpg")
                .blog-content__text 
                    h4 Nulla eget convallis augue 
                    span
                        a Digital Marketing 
                        | /  
                        a Honey 
                        | / 
                        a 26 September 2045
                    p Donec interdum scelerisque auctor. Nulla id lorem auctor, bibendum lectus elementum, porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

            .blog-content(data-content="2")
                .blog-content__image 
                    img(src="./images/blog_item_02.jpg")
                .blog-content__text 
                    h4 Quisque ultricies maximus 
                    span
                        a Branding
                        | /  
                        a David 
                        | / 
                        a 14 September 2045
                    p Etiam fringilla posuere pretium. Maecenas tempor pellentesque elit in dapibus. Curabitur viverra urna sem, ut sollicitudin sem congue vel. Donec fringilla augue in justo molestie fermentum quis ac mi.

            .blog-content(data-content="3") 
                .blog-content__image 
                    img(src="./images/blog_item_03.jpg")
                .blog-content__text 
                    h4 Sed vel elit et lorem 
                    span
                        a Wed Design
                        | /  
                        a William 
                        | / 
                        a 20 September 2045
                    p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id ipsum porta, dictum sem sed, bibendum quam. Maecenas mattis risus eget orci rhoncus.

            .blog-content(data-content="4") 
                .blog-content__image 
                    img(src="./images/blog_item_04.jpg")
                .blog-content__text 
                    h4 Vivamus purus neque
                    span
                        a E-Commerce
                        | /  
                        a George
                        | / 
                        a 14 September 2045
                    p Aliquam erat volutpat. Nulla at nunc nec ante rutrum congue id in diam. Nulla at lectus non turpis placerat volutpat lacinia ut mi. Quisque ultricies maximus justo a blandit. Donec sit amet commodo arcu. Sed sit amet iaculis mi, vel fermentum nisi. Morbi dui enim, vestibulum non accumsan ac, tempor non nisl.

    script.
        const btnList = document.querySelectorAll('.navtab-blog');
        const contentList = document.querySelectorAll('.blog-content');

        btnList.forEach(btn => {
            btn.addEventListener('click', event => {
                btnList.forEach(_btn => {
                     _btn.classList.remove('actived-blog-btn')
                })
                event.target.classList.add('actived-blog-btn') 

                contentList.forEach(contentTab => {
                    contentTab.classList.remove('actived-blog-content')
                })
                document.querySelector(`.blog-content[data-content='${event.target.id}']`).classList.add('actived-blog-content')
            })
        })
        