// Contact us
section.contact
  // message
  .contact_message
    .contact_message_content
      h4.contact_message_header CONTACT US
      .contact_line
      p.contact_message_text
        | Nunc posuere non quam at pharetra. Mauris tincidunt purus vel ultrices malesuada. Integer euismod erat ut nulla ultrices, ut auctor eros feugiat.
      button.contact_message_btn SEND US A MESSAGE 
  // map
  .contact_map
    .mapouter
      .contact_map_link
        iframe.gmap_iframe(width='100%' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=1314&height=500&hl=en&q=Singapore Flyer&t=&z=14&ie=UTF8&iwloc=B&output=embed')
      style.
        .mapouter{position:relative;text-align:right;width:100%;height:500px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:500px;}.gmap_iframe {height:500px!important;}
  // info
  .contact_footer
    .contact_footer_content
      .contact_footer_logo.footer_block.firstblock
        h2.contact_footer_logo_content
          p T
          | INKER 
        p.contact_footer_text  Copyright &copy; 2045 Your Company 
        p.contact_footer_text  Design: TemplateMo 
      .contact_footer_location.footer_block
        h4.contact_footer_header LOCATION
        div
          .contact_footer_location_add.first
            p.contact_footer_text
              b
                | 30 Raffles Ave, 
                br
                |                                 Singapore 039803
          .contact_footer_location_add.second
            p.contact_footer_text
              b
                | Republic Blvd, 
                br
                |                                 Singapore 038975
      .contact_footer_moreinfo.footer_block
        h4.contact_footer_header MORE INFO
        p.contact_footer_text
          b Phone:
          |  090-090-0320 
          br
          b Email:
          |  tk@company.co
      .contact_footer_social.footer_block.footer_block.lastbock
        h4.contact_footer_header GET SOCIAL WITH US
        ul.contact_footer_social_list
          li.contact_footer_social_item
            i.fab.fa-twitter
          li.contact_footer_social_item
            i.fab.fa-facebook
          li.contact_footer_social_item
            i.fab.fa-google
          li.contact_footer_social_item
            i.fas.fa-wifi
          li.contact_footer_social_item
            i.fas.fa-volleyball-ball
  .contact_footer_lastblock
  script(src='https://kit.fontawesome.com/5a8f26faaf.js' crossorigin='anonymous')

