section.slider
  .slider_container
    .slider_slides
      // radio buttons start
      input#radio1(type='radio' name='radio-btn' checked)
      input#radio2(type='radio' name='radio-btn')
      input#radio3(type='radio' name='radio-btn')
      input#radio4(type='radio' name='radio-btn')
      // radio buttons end
      // slide images start 
      .slider_slide.first
        .slider_content
          p.slider_text
            | &ldquo;Quisque ullamcorper odio a nisl lacinia dictum.
            | Vestibulum malesuada ipsum in turpis finibus, ut sagittis
            | erat scelerisque. Curabitur non risus fringilla libero accumsan
            | molestie et quis justo.&rdquo;
          h4.slider_name George Rich
          span.slider_span Web Designer
      .slider_slide
        .slider_content
          p.slider_text
            | &ldquo;Suspendisse magna mauris, convallis vel
            | finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros
            | dignissim consectetur.&rdquo;
          h4.slider_name GJohn Henry
          span.slider_span New Manager
      .slider_slide
        .slider_content
          p.slider_text
            | &ldquo;Aenean semper aliquam est ut maximus. Fusce id diam eget
            | orci lobortis ultricies at ac velit. Curabitur laoreet massa et fringilla sagittis.&rdquo;
          h4.slider_name Danny Cute
          span.slider_span CEO Founder
      .slider_slide
        .slider_content
          p.slider_text
            | &ldquo;Maecenas eu odio pharetra, elementum lorem eget, efficitur erat.
            | Duis eget justo non nisi iaculis vestibulum. Aliquam erat volutpat.&rdquo;
          h4.slider_name Richard Beal
          span.slider_span CSS Developer
      // slide images end
      // automatic navigation start
      .navigation_auto
        .auto-btn1
        .auto-btn2
        .auto-btn3
        .auto-btn4
      // automatic navigation end
    // manual navigation start
    .navigation_manual
      label.manual-btn(for='radio1')
      label.manual-btn(for='radio2')
      label.manual-btn(for='radio3')
      label.manual-btn(for='radio4')
    // manual navigation end
  // image slider end 