.header
    .container
        nav.navbar.navbar-inverse(role="navigation")
            .navbar-header
                button#nav-toggle.navbar-toggle(type="button" data-toggle="collapse" data-target="#main-nav")
                    span.icon-bar 
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.scroll-top 
                    span T
                    |inker    
            #main-nav.collapse.navbar-collapse 
                ul.navbar-nav.nav.unactived-menu 
                    li
                        a.scroll-top Home
                    li
                        a.scroll-link(data-id="about") About Us
                    li
                        a.scroll-link(data-id="portfolio") Portfolio
                    li
                        a.scroll-link(data-id="blog") Blog
                    li
                        a.scroll-link(data-id="contact-us") Contact Us

#home.parallax-content.baner-content
    .container
        .text-content 
            h2 
                em TINKER 
                span HTML5 
                | Template
            p Tinker is free HTML CSS template from templatemo that can be used for any kind of website. Please tell your friends about us. Thank you.
            .primary-white-button 
                a.scroll-link(data-id="about") Let's Start
