.header
    .container
        nav.navbar.navbar-inverse(role="navigation")
            .navbar-header
                button#nav-toggle.navbar-toggle(type="button" data-toggle="collapse" data-target="#main-nav")
                    span.sr-only Toggle navigation 
                    span.icon-bar 
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.scroll-top(href="#") Tinker
            #main-nav.collapse.navbar-collapse 
                ul.nav.navbar-nav 
                    li
                        a.scroll-top(href="#") Home
                    li
                        a.scroll-link(href="#" data-id="about") About Us
                    li
                        a.scroll-link(href="#" data-id="portfolio") Portfolio
                    li
                        a.scroll-link(href="#" data-id="blog") Blog
                    li
                        a.scroll-link(href="#" data-id="contact-us") Contact Us
                    
                    