div.container__our-gallery
    div.gallery-content
        div.section-heading
            div.section-heading__title
                h4 our gallery 
                div.line-dec
                p In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.
            div.section-heading__filter
                ul.filter-list
                    li(class='filter-list__item actived-portfolio-selection') 
                        span(class='navtab-portfolio selected') Show All 
                    li(class='filter-list__item')
                        span(class='navtab-portfolio') Branding 
                    li(class='filter-list__item ')
                        span(class='navtab-portfolio') Graphic 
                    li(class='filter-list__item')
                        span(class='navtab-portfolio') Nature 
                    li(class='filter-list__item')
                        span(class='navtab-portfolio') Animation
    div.gallery-image
        div.collection-image 
            div.collection-image__item 
                img(src="./images/portfolio_item_01.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_02.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_03.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_04.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_05.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_06.jpg")
    script.
        const selectionList = document.querySelectorAll('.navtab-portfolio');

        selectionList.forEach(select => {
            select.addEventListener('click', event => {
                selectionList.forEach(_select => {
                    _select.classList.remove('selected')
                })        
                event.target.classList.add('selected') 

                
            })
        })

