div.container__our-gallery
    div.gallery-content
        div.section-heading
            div.section-heading__title
                h4 our gallery 
                div.line-dec
                p In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.
            div.section-heading__filter
                ul.filter-list
                    li(class='filter-list__item navtab-portfolio actived-portfolio-selection') 
                        span Show All 
                    li(class='filter-list__item navtab-portfolio')
                        span Branding 
                    li(class='filter-list__item navtab-portfolio')
                        span Graphic 
                    li(class='filter-list__item navtab-portfolio')
                        span Nature 
                    li(class='filter-list__item navtab-portfolio')
                        span Animation
    div.gallery-image
        div.collection-image 
            div.collection-image__item 
                img(src="./images/portfolio_item_01.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_02.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_03.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_04.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_05.jpg")
            div.collection-image__item 
                img(src="./images/portfolio_item_06.jpg")
    script.
        const selectionList = document.querySelectorAll('.navtab-portfolio');

        selectionList.forEach(select => {
            select.addEventListener('click', event => {
                selectionList.forEach(_select => {
                    _select.classList.remove('actived-portfolio-selection')
                })        
                event.target.classList.add('actived-portfolio-selection') 


            })
        })

